<section class="bg-init px-5 pb-5">
    <div class="content-header px-0">
      <div class="container-fluid px-0">
        <div class="row mb-2">
          <div class="col-12 col-sm-4">
            <div class="d-flex">
              <input class="form-control" type="date" name="" id=""/>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="d-flex">
              <select class="form-control mr-3" name="" id="">
                <option value="0" selected>Hipodromo</option>
              </select>
              <select class="form-control" name="" id="">
                <option value="0" selected>Tipo de accion</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-right">
            <button class="btn btn-color-search btn-color-search-m">Buscar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-12">
          <div class="card list-card">
            <ul class="list-group list-pro">
              <li class="list-group-item w-80 border-b">text1</li>
              <li class="list-group-item w-10">24/3/2022</li>
              <li class="list-group-item w-10">23:00:00</li>
            </ul>
            <ul class="list-group list-pro">
              <li class="list-group-item w-80 border-b">text1</li>
              <li class="list-group-item w-10">24/3/2022</li>
              <li class="list-group-item w-10">23:00:00</li>
            </ul>
            <ul class="list-group list-pro">
              <li class="list-group-item w-80 border-b">text1</li>
              <li class="list-group-item w-10">24/3/2022</li>
              <li class="list-group-item w-10">23:00:00</li>
            </ul>
            <ul class="list-group list-pro">
              <li class="list-group-item w-80 border-b">text1</li>
              <li class="list-group-item w-10">24/3/2022</li>
              <li class="list-group-item w-10">23:00:00</li>
            </ul>
            <ul class="list-group list-pro">
              <li class="list-group-item w-80 border-b">text1</li>
              <li class="list-group-item w-10">24/3/2022</li>
              <li class="list-group-item w-10">23:00:00</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>